.container {
	/*max-width: 960px;*/
  margin: 0 auto;

}
/*#208F90*/
body {
  font-family: 'Sigmar One', cursive;
	font-size: 16px;
  /* opacity: .5;*/
 /* background-size: cover;
  background-repeat: no-repeat;*/
  background-image: url('http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0348/5624/rrrgoldanchormint_shop_preview.png');
  background-color: #208F90;
  /*background-color: #352545;*/
  color: white;
 /* background-color: white;*/
}

h1 {
  text-shadow: 1px 1px 8px #2F7078;
  
  font-family: 'Orbitron';
  font-size: 2em;
  font-weight: bold;
  color: #2F7078;
  /*color: #981255;*/
  /*text-shadow: 2px 2px #AFD225;*/
}

h3 {
  text-shadow: 1px 1px 8px #2F7078;
  color: #2F7078;
  /*color: white;*/
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  /*color: #AFD225;*/
}

p {
  text-shadow: 1px 1px 8px #FF0000;
  /*color: #C9E60D;*/
  /*color: white;*/
  color: #6D1B5D;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 2 auto;
}

button:hover {
  border-radius: 100px;
  background-color: #AFD225;
  color: #352545
}
/*#6F374B*/


button {
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  background-color: #737373;
  padding: 1%;
  font-size: 1em;
  color: #AFD225;
  border-radius: 10px;
  margin-bottom: 2%;
}

#score {
  font-size: 2em;
  padding: 4%;
}

.flipped:hover {
   outline: dotted purple;
}

.card {
  border: 1px solid white;
  border-radius: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.brown {
  background-image: url("../images/brown.jpg");
}

.red {
  background-image: url("../images/red.jpg");
}

.green {
  background-image: url("../images/green.jpg");
}

.purple {
  background-image: url("../images/purple.jpg");
}

.blue {
  background-image: url("../images/blue.jpg");
}

.silver {
  background-image: url("../images/silver.jpg");
}

.orange {
  background-image: url("../images/orange.jpg");
}

.yellow {
  background-image: url("../images/yellow.jpg");
}

.darkblue {
  background-image: url("../images/darkblue.jpg");
}

.teal {
  background-image: url("../images/teal.jpg");
}

.flipped {
  background-image: url("../images/mnm.jpg");
  border-radius: 100%;
  background-size: cover;
  border: 2px solid white;
}


@media (max-width: 1160px) {

  .card {
    height: 160px;
  }
}


















